html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  margin-top: 10px;
  padding: 0;
  border: 0;
  width: 100%;
  height: calc(100% - 50px);
}

.content {
  border: none;
  width: 100%;
  height: 100%;
}
